/* Style global du site */

@font-face {
  font-family: 'Nexa Bold';
  src: url('../public/fonts/nexabold-webfont.woff2') format('woff2'),
       url('../public/fonts/nexabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa Regular';
  src: url('../public/fonts/nexaregular-webfont.woff2') format('woff2'),
       url('../public/fonts/nexaregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa Thin';
  src: url('../public/fonts/nexathin-webfont.woff2') format('woff2'),
       url('../public/fonts/nexathin-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}


/*------------------------------------*\
	VARIABLES
\*------------------------------------*/
:root {
  --main-color: #1800FF;
  --light-color: #FAFAFA;
  --grey-color: #DCDCDC;
  --dark-color: #232323;

  --main-typo: 'Nexa Regular', sans-serif;
  --bold-typo: 'Nexa Bold', sans-serif;
  --thin-typo: 'Nexa Thin', sans-serif;
}


/*------------------------------------*\
	MAIN
\*------------------------------------*/
body {
  background: var(--light-color);
  font-family: var(--main-typo);
  color: var(--dark-color);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.column {
  padding: 2rem 1rem;
}

.primary-logo {
  width: 15rem;
}

.secondary-logo {
  width: 10rem;
}

.align-center{
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-blue {
  color: var(--main-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  border-bottom: 1px solid var(--main-color);
  border-radius: 0;
  background: transparent;
}

::placeholder {
  color: var(--grey-color);
}

/* BUTTON */
button {
  background: transparent;
  border-radius: 0;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: .5rem 1rem;
  cursor: pointer;
}

.btn-svg{
  background: none;
  border: none;
  padding: initial;
}

.animated-button {
  transition: all 1s ease-in-out;
}

.animated-button.hovered::before {
  content: url("../public/TOPA-Chevron.svg");
  height: 10px;
  width: auto;
  margin-right: .5rem;
}

h6 {
  color: var(--main-color);
}

/*------------------------------------*\
	HEADER
\*------------------------------------*/
#header ul {
  text-align: end;
}

#header li {
  display: inline-block;
  padding: 0 .5rem;
}

#header .svg-icon {
  height: 1.5rem;
  width: auto;
}


/*------------------------------------*\
	FOOTER
\*------------------------------------*/
#footer {
  background: var(--main-color);
  color: var(--light-color);
}

/*
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px; 
  background-color: #333;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar a:hover {
  color: #007bff;
}
*/